<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <!-- PWA -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="FlaskApp">
    <link rel="apple-touch-icon" href="/static/ico_192.png">

    <!-- Manifest -->
    <link rel="manifest" href="/static/manifest.json">
    
    <title>YourMot - Регистрация</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <div class="register-container">
        <div class="logo">
            <h1>YourMot</h1>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <p class="form-{{ category }}">{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form method="POST" action="{{ url_for('auth_bp.register') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label class="form-label" for="username">Имя пользователя</label>
                <input 
                    type="text" 
                    id="username" 
                    class="form-input" 
                    placeholder="Введите ваш никнейм"
                    name="username"
                    required
                >
            </div>

            <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input 
                    type="email" 
                    id="email" 
                    class="form-input" 
                    placeholder="example@mail.com"
                    name="email"
                    required
                >
            </div>

            <div class="form-group">
                <label class="form-label" for="password">Пароль</label>
                <input 
                    type="password" 
                    id="password" 
                    class="form-input" 
                    placeholder="••••••••"
                    name="password"
                    required
                >
            </div>

            <button type="submit" class="btn-register">Создать аккаунт</button>
        </form>

        <div class="login-link">
            Уже есть аккаунт? <a href="{{ url_for('auth_bp.login')}}">Войти</a>
        </div>
    </div>
</body>
</html>