<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- PWA -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="FlaskApp">
    <link rel="apple-touch-icon" href="/static/ico_192.png">

    <!-- Manifest -->
    <link rel="manifest" href="/static/manifest.json">
    
    <title>MotoDiag - Страница не найдена</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/404.css">
</head>
<body>
    <div class="error-container">
        <div class="error-content">
            <div class="error-number">404</div>
            <h1 class="error-title">Ой, кажется, вы заблудились!</h1>
            <p class="error-text">
                Страница, которую вы ищете, уехала в закат на мотоцикле. 
                Возможно, она отправилась в кругосветное путешествие или просто 
                на техническое обслуживание. Давайте вернем вас в гараж!
            </p>
            <a href="/" class="btn-home">Вернуться на главную</a>
        </div>
    </div>
</body>
</html>